In [0]:
%run ./_resources/00-setup

## 1/ Let's define a variable 

We want to do that in SQL, to show multi-language support:
1. Declare a variable and call it to display its value

In [0]:
DECLARE OR REPLACE VARIABLE myvar INT DEFAULT 17;
SELECT myvar;

## 2/ Let's execute multiple statements 

We want to do that in SQL, to show multi-language support:
1. Use multi-statements in a script to delete a record from fact_sales and insert a new record

In [0]:
-- Add and delete records from fact tables multi-statement example 

BEGIN
  DELETE FROM fact_sales WHERE sales_id = 1;
  INSERT INTO fact_sales (product_id, store_id, customer_id, price_sold, units_sold, dollar_cost) VALUES (1, 1, 0, 100.99, 2, 2.99);
  SELECT * FROM fact_sales;
END;

## 2/ Let's see an example of stored procedures in DBSQL

We want to do that in SQL, to show multi-language support:
1. Create a stored procedure to calculate revenue 
2. Use created stored procedure

In [0]:
-- Stored procedures run only on specific DBR versions and may need to be enabled  
CREATE OR REPLACE PROCEDURE main.vibhor_nigam.total_revenue(IN price_sold DOUBLE, IN units_sold INT, OUT revenue DOUBLE)
LANGUAGE SQL
SQL SECURITY INVOKER
AS BEGIN
  SET revenue = price_sold * units_sold;
END;

In [0]:
DECLARE revenue DOUBLE DEFAULT 0;
CALL main.vibhor_nigam.total_revenue(100.99, 3, revenue);
SELECT revenue;

## 3/ Recursive loop example

In [0]:
WITH RECURSIVE revene_facts AS (
  SELECT 0 AS price_sold, 0 as units_sold , 0 AS revenue
  UNION ALL 
  SELECT  r.price_sold,
          r.units_sold,
          r.price_sold * r.units_sold as revenue
  FROM fact_sales AS r
)

SELECT * FROM revene_facts

## 4/ For loop example

In [0]:
-- For loop statement 
-- sum all units_sold from a given table
BEGIN
  DECLARE total_units_sold INT DEFAULT 0;
  sumNumbers: FOR row AS SELECT units_sold FROM fact_sales DO
    SET total_units_sold = total_units_sold + row.units_sold;
  END FOR sumNumbers;
  VALUES (total_units_sold);
END;

## 5/ While loop example

In [0]:

-- sum up all odd numbers from 1 through 10
  BEGIN
    DECLARE sum INT DEFAULT 0;
    DECLARE num INT DEFAULT 0;
    sumNumbers: WHILE num < 10 DO
      SET num = num + 1;
      IF num % 2 = 0 THEN
        ITERATE sumNumbers;
      END IF;
      SET sum = sum + num;
    END WHILE sumNumbers;
    VALUES (sum);
  END;